################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Debug
/Release/DialogDPI.tlog/CL.command.1.tlog
/Release
/x64/Debug
/DialogDPI.VC.db
/.vs/DialogDPI/v14
/DialogDPI.VC.VC.opendb
/DialogDPI.aps
